
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nenapiyasa.fees">

    <application
        android:allowBackup="true"
        android:label="Nena Piyasa Fees"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NenaPiyasaFees">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
